.THIS {
    display: flex;
    flex-direction: column;
}
.THIS.current-product-display {
	background-color: red;
    color:white;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.25rem;
    margin-bottom: 2rem;
    padding: 0.5rem;
}

.THIS.current-product-display:hover{
    background-color: black;
}
